@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Space+Grotesk:wght@500;700&display=swap');

@theme {
  --color-nana-dark: #0a0a0a;
  --color-nana-glass: rgba(255, 255, 255, 0.05);
  --color-nana-accent: #ffffff;

  --font-sans: 'Inter', sans-serif;
  --font-display: 'Space Grotesk', sans-serif;
}

@layer base {
  body {
    @apply bg-nana-dark text-white font-sans antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display;
  }
}